spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:http://localhost:8080
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=1
        - id: company-service
          uri: lb://COMPANY-SERVICE
          predicates:
            - Path=/company/**
          filters:
            - StripPrefix=1

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

---
spring:
  config:
    activate:
      on-profile: docker
    import: optional:configserver:http://config-server:8080
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=1
        - id: company-service
          uri: lb://COMPANY-SERVICE
          predicates:
            - Path=/company/**
          filters:
            - StripPrefix=1

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka
    fetch-registry: true
    register-with-eureka: true

